[2017-01-09 12:26] leonardoporro opened #1 "deep merge?"
Hi @tettusud,
First of all, thanks for your plugin, it is very useful.

For my app, I need to merge several i18n json files, but internally they may refer to the same root.
e.g.:
validations.i18n.json:
core: { validators: { required: "This field is required" }}
commands.i18n.json:
core: { commands: { ok: "OK", cancel: "Cancel" } }

If I merge that, the Core object is overwritten.
I modified the pl

[2017-01-10 17:57] dominiksteiner opened #2 "postinstall script 'typings install' fails"
npm i merge-jsons-webpack-plugin --save

merge-jsons-webpack-plugin@1.0.2 postinstall /Users/dominiksteiner/Documents/workspace-broadsoft/hub/hubLib/node_modules/merge-jsons-webpack-plugin
typings install

sh: typings: command not found
....
npm ERR! merge-jsons-webpack-plugin@1.0.2 postinstall: `typings install`
npm ERR! spawn ENOENT
npm ERR!
npm ERR! Failed at the merge-jsons-webpack-plugin@1.0.

[2017-01-11 02:42] tettusud commented on #1
Thank you very much @leonardoporro for the **feedback** and also for **code contributions**.
I have updated the code, you may take a look and review it.
As am still using es5 i cannot use  Object.assign as of now , so I directly added key to target instead of Obect assign (since its just json for now)
  I can clean it up later.

[2017-01-11 02:44] tettusud commented on #2
Thank you @dominiksteiner for trying the plugin, I have fixed the issue in release **1.0.3**
You can take latest.
Basically its trying to install typings after  installing packages, and expecting typings to be present .
I modified reference to postinstall

Regards
Sudharsan tettu

[2017-01-11 10:55] dominiksteiner commented on #2
thanks @tettusud installation works well now

[2017-01-11 19:33] #2 closed

[2017-01-11 19:33] #1 closed

[2017-02-02 21:10] jbeckton opened #3 "How do I prevent structural changes to the json?"
In my source json files I have an array of objects.

    `"children": [
        {
          "role": "link",
          "title": "Sub One",
          "routerLink": "/spog-module-seed/sub-one"
        },
        {
          "role": "link",
          "title": "Sub Two",
          "routerLink": "/spog-module-seed/sub-two"
        }
    ]`

and the result becomes

    `"children": {
          "0": {

[2017-02-08 18:28] tettusud commented on #3
Thank you @jbeckton  for trying the plugin , I have fixed the issue you can download the latest version 1.0.4
By the way you can also try running the sample  ,I have added new folders under example/jsons/arrays ,which explains your scenerio

[2017-02-08 18:28] #3 closed

[2017-02-11 02:07] scriby opened #6 "Dev mode support"
It seems that in dev mode that the merged json file doesn't get updated after making changes to the input json files. I can see the merge plugin re-running, but it's as if it's operating on a cache of the files or something b/c the output file does not include the updated data.

Is this what you would expect?

Here's my config:

[code]

[2017-02-11 10:49] tettusud commented on #6
How are you making use of generated json file? can you explain little bit more with your code.
From your explanation,looks like the plugin is loaded and new file is getting generated.
  But the code where you are referring to the generated file may not be reloading the new file.You may need to look into that perspective.

[2017-02-21 13:06] tettusud commented on #6
If its working I would like to close this,you may reopen if you face any issues.

[2017-02-21 13:06] #6 closed

[2017-02-21 18:48] mattybow opened #7 "glob options"
hey, I was wondering if you would support taking in a globOptions key in options and passing that to the _glob function?  My use case is when specifying exact file names, I don't want Glob to auto sort the files because in the merge, order matters.  So I'd like to be able to pass use your plugin like so:
[code]

[2017-02-21 23:45] #7 closed

[2017-03-10 19:03] Kequc opened #8 "Webpack doesn't watch my json files for changes"
Experimenting using this plugin, I have to restart webpack before it cares about changes to the json files referenced. I'm not a webpack expert. Is there a way the centralised json files can be updated automatically when file changes are detected?

Thank you for your help.

[2017-03-12 00:31] tettusud commented on #8
Hi @Kequc , if you are using webpac-dev-server could you try with --watch-content-base flag?

[2017-03-18 14:19] tettusud commented on #8
If you still face any issue,please let me know,for now closing the issue.

[2017-03-18 14:19] #8 closed

[2017-03-20 19:45] flessard opened #9 "WebPack 2"
This plugin is compatible with WebPack 2 ?

[2017-03-21 01:25] tettusud commented on #9
Yes should be ,example section uses webpack2
Are you facing any issues ?

Sent from my HTC

----- Reply message -----
From: "Francis Lessard" <notifications@github.com>
To: "tettusud/merge-jsons-webpack-plugin" <merge-jsons-webpack-plugin@noreply.github.com>
Cc: "Subscribed" <subscribed@noreply.github.com>
Subject: [tettusud/merge-jsons-webpack-plugin] WebPack 2 (#9)
Date: Tue, Mar 21, 2017 3:45 A

[2017-03-24 23:28] tettusud commented on #9
@flessard closing the issue,if you still face any issue please reopen this

[2017-03-24 23:28] #9 closed

[2017-04-19 15:52] unsafecode opened #11 "Watch mode?"
Does this work in watch mode / dev-server? Having this config:

[code]

Output files don't look like to be updated when any of the source files change. I need to restart webpack in order to have them updated.

I also tried with `--watch-content-base`, but it seems ineffective.

[2017-05-10 14:30] unsafecode opened #12 "Error management"
It looks like error handling should be done differently, as explain in this SO question:

http://stackoverflow.com/questions/42364742/webpack-plugin-error-management

Otherwise, error will not reported in the output.

Found this issue while debugging why merge stopped writing files without any visibile error.

[2017-05-10 16:44] tettusud commented on #12
Thank you @unsafecode will try to implement it
Thank you very much for pointing it out.

Sent from my HTC

----- Reply message -----
From: "unsafecode" <notifications@github.com>
To: "tettusud/merge-jsons-webpack-plugin" <merge-jsons-webpack-plugin@noreply.github.com>
Cc: "Subscribed" <subscribed@noreply.github.com>
Subject: [tettusud/merge-jsons-webpack-plugin] Error management (#12)
Date: Wed, M

[2017-05-15 12:42] twkx commented on #11
I have the exact same problem.

Is it a plugin issue, or a mistake in our config file ?

[2017-05-17 05:51] tettusud commented on #11
I found the issue I will release a new version

[2017-05-17 16:05] tettusud commented on #11
Hi @unsafecode  and @twkx
  This issue has been resolved, please get the latest version 1.0.6 and give a try.
I thank you very much for taking interest in the plugin and highlighting the issues.
Please let me know if the issue still persists.

[2017-05-17 16:05] #11 closed

[2017-05-17 17:01] twkx commented on #11
Thanks a lot @tettusud, your fix works very well and my labels are now correctly merged in watch mode :)

Best regards,

[2017-05-18 07:41] unsafecode commented on #11
@tettusud Thanks!

[2017-05-23 11:09] dimamarksman opened #13 "Files watcher"
I'm wondering if it is possible to add a watcher to track  any changes in json and rewrite output file.

[2017-05-23 11:11] dimamarksman commented on #13
It would be useful for working with the webpack devserver

[2017-05-23 14:57] tettusud commented on #13
It should be already happening...get the latest and change a json ,it will compile and emit the output .
Please let me know if I didn't get your question right ?

[2017-05-23 16:49] dimamarksman commented on #13
It does not work for me. When i change a json which is not in the webpack entry but in the plugin group pattern it does not rewrite output json file

[2017-05-24 02:30] tettusud commented on #13
How are you starting your webpack dev server ?paste the start script here.
It should be working fine ,because previous issue I just fixed and users confirmed its working on their side.
 Use --inline flag while starting webpack dev server

[2017-05-24 06:54] dimamarksman commented on #13
Thank you for your reply!

I decided to test your repo :)

I cloned this repo and run project localy.

First of all when I try to `npm start` in the example folder i get an error:
[code]
I fixed it by:
[code]
After it runs and compiles json succefully.

But when I change for instance `/jsons/file1.json` it does not update `./out/module1/module2/en.json`

Cheers

[2017-06-09 07:08] wsloth opened #14 "Issues when merging with wrong encoding"
It seems that UTF-8 encoding works properly, but with other encodings I'll get errors that invalid characters have been encountered in line 0 position 0, even though that is a `{` for me.

[2017-06-09 12:47] tettusud commented on #13
hi @dimamarksman ,are you still facing the issue? am closing the issue, if you need you can reopen it.

[2017-06-09 13:24] #13 closed

[2017-06-09 13:33] tettusud commented on #14
hi @wsloth
  I have published a new version 1.0.7 ,please use that.  pass encoding in the options as explained .
 `  new MergeJsonWebpackPlugin({
           "encoding":"ascii",
            "output": {
                "groupBy": [{
                    "pattern": "{./node_modules/module*/en.json,./jsons/file1.json}",
                    "fileName": "./out/module1/module2/en.json"
                },

[2017-06-09 13:33] #14 closed

[2017-06-09 13:42] wsloth commented on #14
Wow, thanks for the incredible speed of the fix! Works great 👍

[2017-06-14 15:17] Loetn opened #15 "Use webpack's in-memory filesystem with webpack-dev-server"
Hello

At the moment, this webpack plugin copies the merged files to a directory via 'fs', even when we're using webpack-dev-server. Is it possible to use webpack's [in-memory filesystem](https://webpack.github.io/docs/webpack-dev-server.html#content-base) with webpack-dev-server, just like [copy-webpack-plugin](https://github.com/kevlened/copy-webpack-plugin)? This way, there is lesser possibilit

[2017-06-15 00:57] tettusud commented on #15
@Loetn Good suggestion,I will try to implement the same and will let you know.

[2017-06-16 09:02] Loetn commented on #15
@tettusud [This commit](https://github.com/kevlened/copy-webpack-plugin/commit/46ab44d983cf580782efe7f2f067babdb5095565) is the one that added this functionality in copy-webpack-plugin.

[2017-06-17 03:28] tettusud commented on #15
@Loetn  I started working on this, I will let you know once done.Thank you

[2017-06-17 19:54] #12 closed

[2017-06-17 19:56] tettusud commented on #15
@Loetn
   I have published a new version 1.0.8 , please get the latest and check , now you can mention relative path as output file name,I hope this should solve your path issues.
  If you still face any issues let me know.Thank you

[2017-06-19 07:45] Loetn commented on #15
@tettusud This solves my webpack/path issues. Thanks for the fast update!

[2017-06-19 22:12] #15 closed

[2017-07-21 14:35] bridzius opened #18 "Plugin causes Webpack@3.3.0 compiler to compile twice."
Calling the compiler from nodeJS.
[code]

If using webpack@3.3.0 - the merge plugin causes the following output
[code]
Removing merge plugin produces following output:
[code]

[2017-07-22 00:28] tettusud commented on #18
Could you please attach whole error log,looks like one of the Json file you are trying to merge is mal formed.
Possibly the one with the below content
21_13_58_23","process":"Deploy_FDP_private_CM
By the way I believe you are using the latest version

----- Reply message -----
From: "Jurgis Bridžius" <notifications@github.com>
To: "tettusud/merge-jsons-webpack-plugin" <merge-jsons-webpack-plugin@n

[2017-07-24 06:12] bridzius commented on #18
@tettusud - there doesn't seem to be any error thrown. This is, basically, what we get when we run with the default compiler config (stats ignored, errors shown). The strangeness is, that if you were to run via cli - it builds fine.

[2017-08-09 13:45] jkordas opened #19 "Duplicated webpack compile logs"
When I upgraded plugin from 1.0.7 to 1.0.8 duplicated entries started to show on console.
[code]

It looks that number of duplicated logs is equal to number of objects in **groupBy** array defined in wepack config.

[code]

[2017-08-09 13:48] jkordas opened #20 "encodin utf8 logs"
In version 1.0.7 a lot of **encodin  utf8** logs are displayed on console.
It looks like this.
[code]

[2017-08-13 06:30] aetna-softwares opened #21 "watch change does not work"
I checked the other ticket (especially #11) but can't get it working on my project.

To eliminate possibilities of misusage on my project, I test as following :
- clone your repo
- run npm install in main directory
- go in example directory and run npm install
- change the package.json to add --watch-content-base to the start script
- run npm run start
- modify the json, it does not compile automa

[2017-08-13 10:03] tettusud commented on #21
Hi I will check and update you

[2017-08-13 10:03] tettusud commented on #20
Hi I will check and remove the logs as you pointed out

[2017-08-13 16:11] tettusud commented on #19
@jkordas  , I am not able to see such logs when i run , could you check with and without the plugin to see if the plugin is real cause of it?

[2017-08-13 16:20] tettusud commented on #21
Hi @aetna-softwares
    I have published new version **merge-jsons-webpack-plugin@1.0.9**, can you try with this version . I have added code to handle json file changes.
 If you want some sample navigate  to /example folder in this repo and start the server and test it.

[2017-08-13 16:20] #20 closed

[2017-08-13 16:20] #19 closed

[2017-08-13 16:22] tettusud commented on #18
@bridzius
  Unfortunately am not able to reproduce it , I tried all possibilities, if you can send me detailed steps how to reproduce, may be it will be useful to debug.
 By the way I dont get you "default compiler config", what do you mean exactly?

[2017-08-14 01:04] aetna-softwares commented on #21
Hi,

It works with the "files" option but not with the "groupBy" / "pattern" option

[2017-08-14 04:09] tettusud commented on #21
@aetna-softwares  , thanks for higlighting the issue , I have fixed it and published a new version **1.0.10**,please get the version and test

[2017-08-14 08:28] aetna-softwares commented on #21
Hi,

I am sorry but I still have a case where it does not work, when I have many groupBy entries :

`
              "groupBy":[
                            { "pattern":"./views/**/locales/en.json",
                               "fileName":"./locales/en.json"
                            },
                           { "pattern":"./views/**/locales/fr.json",
                               "fileName

[2017-08-14 08:42] tettusud commented on #21
@Aetna-softwares
Can you check the example folder I have similar pattern where it works .Can you try it once and let me know if that is different from that of your scenerio.

[2017-08-14 08:44] aetna-softwares commented on #21
yes, I did a simple project for testing, the problem is not the pattern but the fact that there is 2 object in the groupBy list.

[2017-08-14 08:48] aetna-softwares commented on #21
Here, I give you my sample project :
https://www.dropbox.com/s/drbiyase4scy741/testlang.zip?dl=0

[2017-08-14 09:17] tettusud commented on #21
@aetna-softwares  in the examples i  have similar pattern like below, two objects inside ,anyway am trying to check your code meanwhile...

 "groupBy": [
          {
            "pattern": "{app/groupby/lang/en.json,app/groupby/lang/de.json}",
            "fileName": "jsons/languages.json"
          },
          {
            "pattern": "app/groupby/countries/*.json",
            "fileName": "json

[2017-08-14 09:31] tettusud commented on #21
I have copied your code and updated the example folder check here ,it works as expected
https://github.com/tettusud/merge-jsons-webpack-plugin/blob/master/example/webpack.config.js#L38

[2017-08-14 09:51] aetna-softwares commented on #21
I updated the example and still have the problem.

Here is my test :
run npm start
modify the file app/groupby/lang/view1/locales/en.json
the modification has no effect
while modify app/groupby/countries/usa.json
does work as expected

but it seems to be related to dev server mode because stopping and restarting the dev server does not apply the modification neither while running npm run build doe

[2017-08-14 10:16] tettusud commented on #21
@aetna-softwares ,got it,let me see if I can resolve this...

[2017-08-14 10:41] tettusud commented on #21
@aetna-softwares , apologies ,looks like some issue with the version i published earlier. It was not reflecting my changes, so I published a new version 1.0.11 again.Can you try with that.?
Thank you

[2017-08-14 11:01] aetna-softwares commented on #21
Great! it's work as expected now

[2017-08-14 11:46] #21 closed

[2017-08-18 00:32] tettusud commented on #6
@datnordstrom  ,you dont need to do anything separate. Just copy  example folder in this repository.If you are using webpack-dev-server start it in --inline mode. And any chnages you do to your json will be picked up and will generate output.

[2017-08-18 05:36] aetna-softwares commented on #21
Hi,

Sorry to bother you again, I find an other case but I don't know if it can be handled easily.

Modification of a file matching the pattern works great but if I create a new file that matches the pattern it is not taken until I restart.

I think it is more difficult to wait for not existing files than modification in existing files so I would understand if you tell me it is impossible to do bu

[2017-09-07 03:59] jogibear9988 opened #22 "UTF8 with BOM not workin"
The plugin does not work when you use  Utf8 files with a Bom!

[2017-09-07 04:21] tettusud commented on #22
@jogibear9988  could you please provide your sample Jsons?

[2017-09-07 04:22] tettusud commented on #22
@jogibear9988  please check the accepted answer here https://stackoverflow.com/questions/2223882/whats-different-between-utf-8-and-utf-8-without-bom

[2017-09-07 04:32] jogibear9988 commented on #22
It would be a one liner to detect the bom and remove it.

https://www.npmjs.com/package/strip-bom

[2017-10-03 18:29] asaldivar opened #23 "output file not being generated"
Thanks for such an amazing plugin!

For some reason an output file is not being generated for me in my own app as well as the example app you have.

My app:

[code]

Webpack runs without any issues, but no `test.json` file is created for me. I was expecting to see `test.json` generated in my root, but I'm not seeing anywhere in the application. Am I missing a step?

Thank you

[2017-10-03 18:31] asaldivar commented on #23
I also tried the following with no success:

[code]

[2017-10-04 02:21] tettusud commented on #23
Thank you @asaldivar  for the feedback, may I know what is your configuration for output?
file will be created relative to this path for eg below file will be created inside your app build/test.json
[code]

[2017-10-04 02:59] asaldivar commented on #23
Thanks for the response!

My output path is

output: path.resolve(__dirname, '../dist')

But I don't see the generated test.json file in my dist folder.

[2017-10-04 03:50] asaldivar commented on #23
Here is the full output object:

[code]

[2017-10-04 07:09] asaldivar commented on #23
If it helps at all, I'm using the vuejs webpack template: https://github.com/vuejs-templates/webpack

[2017-10-04 15:26] asaldivar commented on #23
I've been using the `vue-gh-pages` and it has been sending my generated `.json` file to a `/docs` directory. Mystery solved. Still not sure why it wasn't working for me in your example but I'm at a point where I can figure out the rest in my own application. Thank you!

[2017-10-04 15:26] #23 closed

[2017-10-23 17:42] jmesa-sistel commented on #18
I have the same problem. You can reproduce it with an empty jhipster project.

[2017-10-24 02:37] tettusud commented on #18
Could you paste your webpack.config.js
By any chance are you using the plugin twice in the Config file ?

Sent from my iPhone

[2017-10-24 07:03] jmesa-sistel commented on #18
You can see the webpack files here: [https://github.com/jhipster/generator-jhipster/tree/master/generators/client/templates/angular/webpack](https://github.com/jhipster/generator-jhipster/tree/master/generators/client/templates/angular/webpack)
Webpack is not recompiling twice but send more signals to VSCode and to the web application, so the webapp is reloaded 2 or 3 times and hot module reload i

[2017-10-26 07:02] jmesa-sistel commented on #18
@tettusud Only once, I am not sure but I think the problem is that you are adding the new generated json files in fileDependencies instead of assets, so the webdev detect a change in files and send a signal telling that something is changed.

output without plugin:
[code]

Now output with the plugin:

[code]

As you can see **webpack: Compiled successfully.** is emitted twice, so hot module reload

[2017-12-08 08:38] nishantkagrawal opened #25 "Getting file not found for Dynamic Generated files"
I am using webpack-angular-translate plugin to dynamically generate a json file (say A.json) and then merge it with an  existing json (say B.json).

I get ERROR in MergeJsonWebpackPlugin: MergeJsonWebpackPlugin: Unable to locate file A.json

Is it possible to merge the files from compilation.assets?

I tried with the following change to readFile and it worked for me
https://github.com/nishantkagra

[2017-12-08 14:36] tettusud commented on #25
@nishantkagrawal HI I will test once and release a new version.Thank you for helping with the code.

[2018-01-24 17:26] dgresko opened #27 "Error - "Callback was already called.""
When I try to compile two files separately, just as you illustrate in the README, it fails with the following error:
![image](https://user-images.githubusercontent.com/5972921/35346662-d7c187c6-0100-11e8-836c-5b9bee4413d3.png)

[code]

It works for _either_ the fr.json or the en.json files but not when both are in there.
Angular version: 5.1.2
Merge-json Version 1.0.12

[2018-01-26 16:43] dgresko commented on #18
@jmesa-sistel  - Did you ever resolve this? I believe I'm having a similar issue, which I logged here a couple days ago.

[2018-01-26 18:33] rodries commented on #18
Nope, what I did is create another task in package.json to use this module, so manually I have to execute this new task to get my jsons merged when I modify a json. Not good but at least I can debug without problems.

[2018-01-26 18:35] jmesa-sistel commented on #18
@dgresko
Nope, what I did is create another task in package.json to use this module, so manually I have to execute this new task to get my jsons merged when I modify a json. Not good but at least I can debug without problems.

[2018-01-26 18:46] dgresko commented on #18
@jmesa-sistel  - thanks for your response. I think my issue is actually more related to this issue: https://github.com/tettusud/merge-jsons-webpack-plugin/issues/21 where I cannot have more than one object in the "groupBy" array. It did seem like webpack was compiling twice though, so I'm not sure. I've given up and am writing a node task instead. Thanks again.

[2018-01-27 01:34] tettusud commented on #18
Hello all I am working on a di for this. I will release a new version once I test it.

[2018-01-27 01:37] tettusud commented on #18
@dgresko
 I didn’t not understand the issue do you mean when you make modifications,that’s not automatically starting the compilation and merging the files?

[2018-01-27 14:21] tettusud commented on #27
@dgresko let me start looking into it.Thank you

[2018-02-02 14:32] santiago-elustondo opened #28 "`plugin.fileDependencies` grows with each compilation."
It looks like when you concatenate dependencies onto the `plugin.fileDependencies` array, it is adding these to the saved dependencies from the previous run.
[code]
here's some console output:
![image](https://user-images.githubusercontent.com/10526720/35738143-f9f60fa4-07fb-11e8-837c-3df5f9940481.png)

[2018-02-03 02:36] tettusud commented on #28
Yeah I noticed it I will give a fix clubbing with others

[2018-02-03 13:41] tettusud commented on #18
@bridzius @jmesa-sistel @dgresko @fabgallo  I have published new version 1.0.13 , that will resolve this issue.Thanks for your patience and support!

[2018-02-03 13:41] #18 closed

[2018-02-03 13:43] tettusud commented on #28
@santiago-elustondo thank you very much. Its resolved in new version

[2018-02-03 13:43] #28 closed

[2018-02-03 13:44] tettusud commented on #27
@dgresko I released new version 1.0.13 could you test with that. I am not able to test your issue on my side. if the issue still persists please let me know.

[2018-02-03 13:45] tettusud commented on #25
@nishantkagrawal  i have published new version 1.0.13 ,could you please check that? You do not need to mention anything separately to use files from assets. By default it will check for files if not found on the path.It will look for assets ,and load it .Could you review the code if its fine?

[2018-02-05 09:33] pshurygin opened #30 "Issue with webpack 4 beta0 and file emitting"
I'm having the following error while emmiting merged json files. Im' using webpack 4 beta0 + merge-jsons-webpack-plugin 1.0.13, guess this is a compatibility issue with new webpack version.

And here is the config i use:

[2018-02-05 10:22] tettusud commented on #30
You are right in webpack4 it’s a Set I will handle it accordingly and update you

[2018-02-05 14:07] dgresko commented on #27
Yes! This is resolved. Nice work. Thank you.

[2018-02-05 14:08] #27 closed

[2018-02-06 09:00] nishantkagrawal commented on #25
Works as expected! Code looks good as well! Thanks!

[2018-02-06 09:28] #25 closed

[2018-02-06 15:17] tettusud commented on #30
The issue is fixed now, please get the latest version 1.0.14 .

[2018-02-07 01:37] #30 closed

[2018-02-18 09:05] Mindtraveller opened #31 "Keep file names as parent object of content in merged files"
Hi,
Do you plan to add the possibility to keep file names in result file?

The example:
There are separate i18n files:
[code]
[code]
I'd like to have following structure of the resulting file:
[code]

[2018-02-18 10:06] tettusud commented on #31
Sure let me try to add it up.

[2018-02-19 13:39] Mindtraveller commented on #31
Thank you!

[2018-03-29 16:48] pshurygin opened #32 "Emitting json files in watch mode when changes are made to other files"
Using webpack 4.4.1 and merge plugin 1.0.14 in watch mode.
Whenever I change any file in my project (like css, js or html) and incremental rebuild is triggered, json files are also emitted even if no changes were made to them:

Here is an output whenever i change 1 line of css:

[2018-04-09 16:01] dubbeglas opened #33 "Release tags"
Could you please use the release tags? That would make it possible to subscribe to the github releases atom feed.
https://github.com/tettusud/merge-jsons-webpack-plugin/releases.atom

https://developer.github.com/v3/repos/releases/#create-a-release

[2018-04-11 15:32] #33 closed

[2018-05-09 12:44] rmartin94 opened #34 "Can't manage to get the result file generated and saved"
Hi, I'm having some trouble to get the proper merged json file created and saved within my project. The base structure is as follows:

[code]

While the plugin config is defined like:

[code]
If I npm start the project (which will run webpack-dev-server --port=4200) then I console log the response from the processFiles method in the plugin then I actually get the content of the meant file to be wr

[2018-05-09 15:42] tettusud commented on #34
Remove ./ from the filenames and give a try ,
 "files": [
        "jsons/test1.json",
        "jsons/test2.json",
        "jsons/test3.json"
      ]
`

check the example folder for sample usage

[2018-05-09 16:47] rmartin94 commented on #34
Hi! Thanks for the reply. Yes, I've also tryed this. Never the less the file is not generated, the dist folder is still empty. By running npm start, this command is executed - which I suppose is the right one for running webpack plugins

[code]

[2018-05-09 23:43] tettusud commented on #34
Yeah , you need to run build command to actually generate the file

[2018-05-09 23:43] #34 closed

[2018-05-12 03:35] tettusud commented on #31
I have given a new release 1.0.15 ,please check, you need to pass option prefixFileName as true, in order to prefix the file names.

[2018-05-30 12:00] expressiveco opened #37 "Extension restriction"
File extension should not be restricted to "json".

I am frustrated of it and come up with a simple way to merge jsons;

https://gist.github.com/expressiveco/56cb9d0531821d237d78b99efa40a1cb

[2018-05-30 13:50] tettusud commented on #37
Instead you just fork this repo, remove that check and use it. Anyway thanks for your suggestions.

[2018-06-14 11:15] #31 closed

[2018-06-18 07:18] gregorvoinov opened #40 "create merged jsons at first"
Hi,

Is it possible to create the merged jsons at first? Because I want to use it in combination with HtmlWebpackPlugin and templateParameters.
If I use this line

    templateParameters: require('./src/jsons/bundle.json')

I get the message

    Error: Cannot find module './src/jsons/bundle.json'

Because the bundle has not been created yet

[2018-06-18 12:01] tettusud commented on #40
@gregorvoinov I am not getting the issue, if you can use MergeJsonPlugin ahead of those, it should be available, if possible can you share your webpack.config.js file (in private also) should be fine

[2018-06-18 20:40] gregorvoinov commented on #40
hi,

this is my [webpack.config](https://gist.github.com/gregorvoinov/443a1a149d1d973f579f676545e23240)

If I start with

    npm run dev  ("webpack --mode development --watch")

I get the error that no bundle.json was found, so it would be nice if there is a way to merge all jsons files before the HtmlWebpackPlugin runs.

[2018-06-19 04:37] tettusud commented on #40
Could you try moving the MergeJson plugin up the stack and try? I mean place it at first

[2018-06-19 05:57] gregorvoinov commented on #40
same result, if I place it at first.

[2018-06-19 07:42] tettusud commented on #40
@gregorvoinov ok let me try and help you out .

[2018-06-19 10:18] gregorvoinov commented on #40
The output path is correct. If I place an empty bundle.json at this location htmlWebpackPlugin find it and use it. There are no errors, and then your plugin creates the real .json bundle, but htmlWebpackPlugin already used the empty one. Maybe it has something todo with the compiler hooks and the htmlWebpackPlugin is running with the first one https://webpack.js.org/api/compiler-hooks/

[2018-06-27 10:42] gregorvoinov commented on #40
maybe this can be a solution
https://github.com/jantimon/html-webpack-plugin#events

so that your plugin can be called before creating the html files

    compilation.hooks.htmlWebpackPluginBeforeHtmlGeneration.tapAsync(
      'MyPlugin',
      (data, cb) => {
        //do something
      }
    )

sorry for asking, but i have no idea about to write my own plugins, I'm more a screendesigner, with a

[2018-06-27 13:15] tettusud commented on #40
@gregorvoinov thank you very much for your amazing effort . I will fix it. Apologies for the delay.

[2018-06-27 15:08] gregorvoinov commented on #40
sry for bothering you but found the solution ;) require was the problem, because if this file doesn't exist at the beginning an error will be thrown.

so the solution was to load the .json later with a small function

[code]

[2018-06-27 15:08] #40 closed

[2018-07-27 14:37] tettusud commented on #37
File extension check removed as suggested. Thank you for the suggestion.The code is available on the master and new version 1.0.17

[2018-07-27 14:37] #37 closed

[2018-09-21 05:39] tettusud commented on #22
new version 1.0.18 released to fix this issue

[2018-09-21 05:39] #22 closed

[2018-09-21 20:39] pardoman commented on #22
That's great, thanks!

[2018-10-05 14:19] DeepiManjoo opened #43 "Unable to merge json's"
Not sure if am doing it right. I wrote this code in webpack.config.js 's plugin section

var MergeJsonWebpackPlugin = require("merge-jsons-webpack-plugin");
new MergeJsonWebpackPlugin({
    "files": [
        "./jsons/file1.json",
        "./jsons/file3.json",
        "./jsons/file2.json"
    ],
    "output": {
        "fileName": "./dist/result.json"
    }
});

RESULT.json was never created

[2018-10-05 15:55] tettusud commented on #43
Is there any error ? I believe you do not need the initial ./ .can you try with relative path

[2018-10-08 06:28] DeepiManjoo commented on #43
Tried without ./ still not working. Screenshot of webpack.config.js

On Fri, 5 Oct 2018 at 9:25 PM, Sudharsan Tettu <notifications@github.com>
wrote:

[2018-10-08 08:47] tettusud commented on #43
Is that possible to share your Webpack.config file

[2018-10-11 12:02] DeepiManjoo commented on #43
We just created Ionic 4 application with angular 6
We created webpack.config.js
installed npm package merge-jsons-webpack-plugin ---> then added code to
merge jsons in webpack.config.js

After that it never merged jsons

On Mon, Oct 8, 2018 at 2:17 PM Sudharsan Tettu <notifications@github.com>
wrote:

[2018-10-11 12:48] tettusud commented on #43
can you pass debug as true and capture the logs?

[2018-10-26 13:51] LeonsBuntis opened #44 "Pattern does not find files"
Deriving from 2nd example "2) By Patterns" I've created my config:
`new MergeJsonWebpackPlugin({
        "encoding": "ascii",
        "debug": true,
        "output": {
            "groupBy": [
                {
                    "pattern": "{./**/translations/*.en.json}",
                    "fileName": "./assets/locale/en.json"
                },
                {
                    "pattern"

[2018-10-27 09:05] tettusud commented on #44
hi @LeonsBuntis ,  yeah you may need to exclude {} if there is only one pattern. As its already mentioned in the readme document under section 2.

groupBy | Array of patterns and corresponding fileNames. |  
-- | -- | --
groupBy[].pattern | Pattern to search files for. eg: **/en.json will pull all en.json files under current working directory and sub directories |  
  | Do not use curly brackets i

[2018-10-27 09:05] #44 closed

[2018-11-07 10:12] genesis-scott opened #45 "When using mac terminal, sometimes will generate wrong file."
The json file structure looks like:
- LevelA.json
- LevelB.json
- LevelC.json
- LevelD.json

Expected result will be `LevelB` replace `LevelA` if same key already exists and so on.

Sometimes the plugin will generate wrong file that even not an valid `.json` format, but sometimes it works as expected.

Wrong file looks like:
[code]

My config is:
[code]
I turn on the debug, but didn't found more d

[2018-11-07 10:49] tettusud commented on #45
@genesis-Scott could you enable logs and check if it gives you any clue ? Make debug:true

[2018-11-07 10:54] genesis-scott commented on #45
The log:
[code]

[2018-11-07 12:56] genesis-scott commented on #45
Here is the method:
[code]
Hmmm... Any idea of that? Really weird

[2018-11-07 13:02] genesis-scott commented on #45
I also placed the plugin at the bottom:
[code]

[2018-11-08 03:01] tettusud commented on #45
@genesis-scott, unfortunately, I could not reproduce it, I tried as many scenarios as possible.Let me keep trying and give you an update.

[2018-11-08 09:48] genesis-scott commented on #45
Thanks. I'll keep tracking on this issue.

[2018-11-20 20:48] alveshelio opened #46 "Unable to merge json files"
Hi,

I've created a project with a custom webpack and using Typescript and I'm trying to merge i18n json files into a single one but it is not generating any output.

Here's my Webpack 4 file
[code]
Here's the plugin debug output
[code]
Am I doing something wrong?

Thank you for your time and effort you put into this plugin.

[2018-11-21 06:05] tettusud commented on #46
@alveshelio  thanks for using the plugin, when there is only one entry in the pattern ,could you please remove the {}  brackets, like shown below and give a try?

Change this,
[code]

to
[code]

  **Please let me know if the issue still persists**

[2018-11-21 19:02] alveshelio commented on #46
Hi @tettusud

Thank you for the quick follow up.

I've made the changes you suggested but it's still not generating the output

[2018-11-22 13:58] tettusud commented on #46
@alveshelio can you try relative path or src not ./src can you give one more try please ?

[2018-11-30 11:14] tettusud commented on #45
@genesis-scott are you still facing the issue?

[2018-12-03 01:54] genesis-scott commented on #45
Nope. I think this issue can be closed.

[2018-12-03 01:54] #45 closed

[2019-03-04 18:56] loginov-rocks opened #47 "Deep merge with file path"
Hello!

Is it possible to do like so:

Your application structure:

[code]

After using the above `gulpfile.js`:

[code]

The `en.json` file will look like this:

[code]

So you can obtain values using dot notation, `catalog.catalogItem.headline` for example.

Gulp example: https://github.com/loginov-rocks/gulp-locales-bundler/blob/master/src/gulpLocalesBundler.js

[2019-03-08 09:18] AngeloAvv commented on #32
Hi, are there any news about this problem? I'm facing the same issue reported by @pshurygin

[2019-03-11 02:39] loginov-rocks commented on #47
Made a straightforward function FYI: https://github.com/loginov-rocks/locales-bundler/blob/master/src/localesBundler.js#L15-L42

[2019-04-04 06:59] Igornorlin opened #48 "Compatibility with webpack 1?"
Hi!

Using webpack 1 for a project and I cannot seem to get the merge of the files to work.
I have tried all kinds of paths.

output: {
    path: path.join(root, 'public'),
    filename: '[name].js',
    publicPath: '/'
  },
  plugins: [
    new MergeJsonWebpackPlugin({
      "debug": true,
      "output": {
        "groupBy": [
          {
            "pattern": "src/language/en/categories/button

[2019-04-04 07:51] tettusud commented on #47
@loginov-rocks  apologies, I was little away from this repo, I will check this

[2019-04-23 01:00] tettusud commented on #48
I am afraid I never tested this with web pack 1.

[2019-04-28 23:04] tettusud commented on #47
@loginov-rocks , a new package 0.0.19 was published, is that something that could help you?

[2019-05-15 08:09] lmislm commented on #46
Same issue! Not generating the output.

[2019-05-15 12:28] lmislm commented on #46
Confirm your "webpack-dev-server" version is "^3.1.10" or later,and add "devServer: { writeToDisk: true }," to webpack.config.js。[devServer.writeToDisk](https://webpack.docschina.org/configuration/dev-server/#devserver-writetodisk-)

[2019-05-15 12:31] lmislm commented on #43
@tettusud Consider upgrading webpack-dev-server to 3.1.10 or later to support devServer.writeToDisk?

[2019-06-11 11:18] ampersand83 opened #50 "Merged json files seem to be minified per default"
When merging two json files a and b the resulting merged json file c seems to be minified although I am in a development environment. Is there an option I can set to configure whether the resulting json file should be minified or not?
If not this would be a really nice feature to implement in a future version.

[2019-06-15 09:41] tettusud commented on #50
Noted, thanks for using the plugin, let me check and revert

[2019-09-26 17:13] alexxlagutin opened #52 "Merging of files content if prefixFileName = false"
Hi there!
Thank you for your plugin. It`s very useful!
But I bumped into a problem. Hope you can help with it
So I have a number of json files in folder and want to merge them
- parent
-- child1.json
-- child2.json
-- child3.json

When I use `prefixFileName = true` i`m getting the result as

`"parent" : {
  "child1" : {},
  "child2" : {},
  "child3" : {}
}`

But If i do `prefixFileName = false` da

[2019-09-27 00:09] tettusud commented on #52
Ah I never thought about it, instead of prefixing it with file name, you simply need an array of coexisting (same) keys?
 May be you can create a gist with your sample data and expected result so it will be easier for me to work on

[2019-09-27 09:18] alexxlagutin commented on #52
Hi!
Thanks for the fast answer

I probably have to explain bit more about what I need to do and why Arrays are necessary

Right now I`m trying to use data from flat-files CMS as content of an application.
I`m getting that content as number of folders, each of those folders has number of files with similar content. And I need to put them all to single file to be able to use them in different loops

[2019-09-28 15:46] tettusud commented on #50
I have published new release 0.0.20. You need to pass `space:{number}` option to pretty print.For further details check readme / examples

[2019-09-28 15:46] #50 closed

[2019-12-08 21:43] rszik opened #54 "feature request: work with absolute path"
Hi,

Could you please consider to implement working with absolute path. (in files, patterns, filenames etc parameters)
I do browser extension development and merge-jsons-webpack-plugin works only in developer mode where I run the extension with webpack-dev-server, but throw an error in production mode, where I have to user absolute paths - lack of any server - to deploy the extension

Thanks

[2020-01-02 12:46] DrNecromant opened #55 "Add ability group by the same name"
Assume, I have locales from different libraries
lib1/locales/*.json
lib2/locales/*.json

And I want to merge them the same way as merge-webpack-plugin does with option
group: '[name]',

With this option I do not need to specify each file name in configuration and fully rely on similarity of names in different folders (for example, 'lib1/locales/en_US.json', 'lib2/locales/en_US.json')

Unfortunatel

[2020-01-03 08:00] tettusud commented on #55
Hi thanks for trying it out but could you be specific what didn’t work with Webpack4.
 I tested it using Webpack 4, I was able to. But if you have any specific error could you share so I can take a look

[2020-02-04 07:39] ssuess opened #56 "Previous content overwritten instead of added to"
I have a pattern of language specific folders (`/src/i18n/en`,`/src/i18n/es`, etc) that I am matching to find files under each and merge them, but using the following code, the output file only contains the last language. I realize this is probably because inside each language file the structures are the same, ie:

`{ "helloMsg": "hello" }` and `{ "helloMsg": "hola" }`

instead of

`{ "en": { "hel

[2020-02-14 00:40] tettusud commented on #56
There is an option prefix file name did you try that ?

[2020-02-14 05:29] ssuess commented on #56
This isn't a file naming problem. It is a file content problem. But in any event, I just wrote my own script to take care of the merging I need. Thanks anyway.

[2020-02-14 05:29] #56 closed

[2020-03-31 20:11] doshprompt opened #57 "Override globOptions with defaults only if none are provided"
https://github.com/tettusud/merge-jsons-webpack-plugin/blob/master/index.js#L217

The order should be reversed so if cwd and mark are explicitly provided they are not replaced by the defaults.

Right now, no matter what mark and/or cwd are provided they will always revert to the default globOptions

[2020-04-04 11:02] #55 closed

[2020-04-04 11:06] tettusud commented on #57
Thanks @doshprompt  released a new version 1.0.21

[2020-04-04 11:06] #57 closed

[2020-05-21 23:32] #52 closed

[2020-06-15 09:13] julienboulay opened #59 "GroupBy pattern : files are not merged when a space exist in pattern"
I faced an issue regarding pattern, when a space exist in the pattern definition :
These groupBy definitions will not work, because of the spaces, after the coma, or at the end of the pattern
[code]

[code]
When writing the pattern, I felt as if it was a json object... when it's not.
Is it possible to define the pattern as a string or an array of string, to avoid this kind of errors ?

[code]

[2020-06-15 12:05] tettusud commented on #59
@julienboulay , its handled by external package **glob**, it expects a string rather than an array of object.
 What I am planning to do is to sanitize the string (remove any spaces), do you think it makes sense? so that I dont break any existing code .

[2020-06-15 20:05] julienboulay commented on #59
Hi @tettusud,

First, thank you for this great plugin.
Yes, it make sense to keep the current behaviour and sanitize the string.
It may also be very interesting to display a log message if no file corresponding to pattern was found.

[2020-09-24 13:57] oscarviq opened #62 "Watch is not picking up new files after dev-server started"
Hi, I'm working on an Angular application and using the plugin to merge i18n files. It's working great however I've noticed that if I start a dev server **ng serve** it will detect changes on existing files and re compile but If I add a new json file I have to stop the dev server and re-start it for webpack to watch the new file.

I'm guessing it has something to do with the fact that when a new .

[2020-09-24 15:00] tettusud commented on #62
Thanks for the feedback. Let me check.Unfortunately as part of my current employment contract I can’t contribute to open source or should get prior approval which is time consuming 
Is that possible to create a smallSample app to reproduce this issue ?

Sent from Yahoo Mail for iPhone

On Thursday, September 24, 2020, 9:58 PM, eruecco87 <notifications@github.com> wrote:

Hi, I'm working on an Angu

[2020-10-26 16:18] ajarar opened #63 "Array deepMerge function"
Hi, I noticed that you use the concat array method in the mergeDeep function to concat both arrays together as a one array
Example:
1.json
`
{
      "numbers": [1,2,3]
}
`
2.json
`
{
      "numbers": [4,5,6]
}
`
The result:
`
{
      "numbers": [1,2,3,4,5,6]
}
`

I think this is the default behavior but I would like to suggest if you can add an option to control if we want to concat the arrays or

[2020-11-23 15:23] GorvGoyl opened #64 "Incompatibility with Webpack 5"
I'm not able to run webpack in `development` mode when `source-map` is enabled and set to `cheap-module-source-map` or `inline-source-map`.
On digging I found out your plugin is not fully compatible with webpack v5 which is causing that issue.
To test:
`node --trace-deprecation node_modules/webpack/bin/webpack.js`
Output:
[code]

You can see that webpack config file: https://github.com/GorvGoyl/No

[2020-12-10 12:24] LouisWayne opened #65 "Option to handle comments in JSON"
I'd like to have an option (or by default) that handles comments in JSON files.

i.e.)

[code]

Thanks for making an awesome plugin!

[2020-12-26 05:06] tettusud commented on #64
@GorvGoyl I cant see the git repo, and also I tested with the below webpack version and I do not see any errors, could you help me with a sample, please?
[code]

[2020-12-29 15:39] aarthishuba commented on #63
New version 2.0.0-alpha is published, it will by default behave the way its requested here.

[2020-12-29 15:40] aarthishuba commented on #64
@GorvGoyl published new version 2.0.0-alpha, however it has some breaking changes in case of array behaviour, you can check read me file

[2020-12-29 15:41] aarthishuba commented on #62
@eruecco87  new version 2.0.0-alpha is published, it should fix the issue, however it has some breaking changes in case of arrays, please refer to read me.

[2021-01-15 14:32] GorvGoyl opened #68 "The emitted json file is not picked up by subsequent webpack plugins"
json file emiited by this plugin is not picked up by other plugins like `zip-webpack-plugin` or `compression-webpack-plugin`. It used to work in webpack 4 but not in v5.

Code Snippet:
[code]
[code]

[2021-01-16 15:26] aarthishuba commented on #68
@GorvGoyl could you give me little bit more info or a quick example to check the issue? How do you refer the json file emitted in other plugin? from new ZipPlugin snippet you provided I can not get the context.

[2021-03-11 09:33] ricardovanlaarhoven opened #71 "json files not generating"
I'm trying to merge all json files into one for vue-i18n

this is my vue.config.js

[code]

resulting in

[code]

How can I make sure this file is generating?
And am I using this plugin correctly?

[2021-04-20 07:53] gorbeia commented on #68
This simple project reproduces the issue. file.json is generated but it is not included in the zip.

[merge-jsons-zipplugin.zip](https://github.com/tettusud/merge-jsons-webpack-plugin/files/6341626/merge-jsons-zipplugin.zip)

[2021-04-20 10:08] gorbeia commented on #68
I have created a pull request to emit the assets in Webpack 5: https://github.com/tettusud/merge-jsons-webpack-plugin/pull/72

[2021-07-29 12:19] pilpo commented on #64
Even with the new version 2.0.0-alpha, I still get the error on my project. It's not a big deal so far :)

[2021-09-10 18:43] ybentz commented on #64
Hey! Any updates on this?
I found a couple of related issues on `html-webpack-plugin` that were fixed already in case that helps.
- [issue 1](https://github.com/jantimon/html-webpack-plugin/issues/1501)
- [issue 2](https://github.com/jantimon/html-webpack-plugin/issues/1523)

[2021-11-27 16:15] aarthishuba commented on #68
@gorbeia  thank you for the pull request. I have changed the compilation hook to `compilation.hooks.additionalAssets` which is more opt and is backward compatible with version 4. Please take a look and in case if you think otherwise, please update.

[2021-11-27 16:15] #68 closed

[2022-10-03 10:48] stijn7621 opened #89 "Plugin not working in webpack v5 when moving from v4"
According to the docs I have to use overwrite: false to have allow arrays to be combined from several json files. However, also keys with strings gets converted into arrays. I think this is a bug. I would like to have an option to ONLY merge arrays and not keys with the same name. These should instead be overridden. I've downgraded to v1.0.21 to make this behaviour work as expected for webpack 5.

[2022-10-17 13:54] pixobe commented on #89
@stijn7621  If possible could you create a minimal sample to reproduce this?

[2022-10-17 15:26] stijn7621 commented on #89
Maybe later if i have time. You can reproduce it by creating two json files with the same property inside as string array and a seperate property as a string. I would like to merge those arrays and overwrite the second string property with the first. If i set overwrite false, the string property gets duplicated in the result file. This is because the old setting is removed in v5.